<h3>Transformation</h3>
This file was created to treat the data Books_rating.csv
<br>download data: <a href="https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews"> Amazon books reviews</a>

reset all variables befores running the script againd

In [26]:
%reset -f

<h3>Libraries</h3>

In [27]:
import pandas as pd
from time import time
import os

This option is set to avoid scientific notation

In [28]:
pd.options.display.float_format = '{:.2f}'.format

<h3>Reading File and creating the dataframe</h3>

In [29]:
df = pd.read_csv('Books_rating.csv', sep=',', dtype=str, encoding='utf-8')

<h3>Creating dataframe for comparison</h3>

In [30]:
header = ['File','Size (MB)', 'Size (GB)', 'Number of Columns', 'Number of Rows']
comparison_df = pd.DataFrame(columns=header)

Getting meta data from original file

In [31]:
def get_meta_data_from_file_and_df(file_path, data_frame, File='original'):
    size_bytes  = os.path.getsize(file_path) 
    size_mb = round(size_bytes / (1024 * 1024),2)  # Convert to megabytes (MB)
    size_gb = round(size_bytes / (1024 * 1024 * 1024),2)  # Convert to gigabytes (GB)
    num_rows, num_colums = data_frame.shape
    return {'File': File, 'Size (MB)': size_mb, 'Size (GB)': size_gb, 'Number of Columns': num_rows, 'Number of Rows': num_colums}

Adding a row with information about the original file

In [32]:
comparison_df.loc[len(comparison_df)] = get_meta_data_from_file_and_df('Books_rating.csv', df, File='original')

In [33]:
comparison_df.head()

       File  Size (MB)  Size (GB)  Number of Columns  Number of Rows
0  original    2727.04       2.66            3000000              10

Creating a copy of the dataframe, to keep the orignal data for comparison

In [34]:
df.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

<h3>Counting the number of Not Available data</h3>

In [35]:
df.isna().sum()

Id                          0
Title                     208
Price                 2518829
User_id                561787
profileName            561905
review/helpfulness          0
review/score                0
review/time                 0
review/summary            407
review/text                 8
dtype: int64

The columns <b>Price</b>, <b>User_id</b> and <b>profileName</b> have too many missing values.<br>For that, they shall be deleted.

In [36]:
columns_to_delete = ['Price', 'User_id', 'profileName']
df.drop(columns=columns_to_delete, axis=1, inplace=True)

The columns review/summary and review/text have rows with missing data. In this case, <b>only the rows with missing data shall be deleted.

In [37]:
rows_to_delete = ['review/summary', 'review/text'] # only rows from the column review/summary with values NaN will be deleted
df.dropna(subset=rows_to_delete, axis=0, inplace=True)

In [38]:
df.isna().sum()

Id                      0
Title                 208
review/helpfulness      0
review/score            0
review/time             0
review/summary          0
review/text             0
dtype: int64

In [39]:
df.to_csv('transformed_data/output.csv', sep=";", index=False, header=True, encoding='utf-8')

<h3> Calculating the metadata of both files </h3>

In [40]:
comparison_df.loc[len(comparison_df)] = get_meta_data_from_file_and_df('transformed_data/output.csv', df, File='transformed')

In [41]:
comparison_df.head()

          File  Size (MB)  Size (GB)  Number of Columns  Number of Rows
0     original    2727.04       2.66            3000000              10
1  transformed    2644.19       2.58            2999585               7